#{{ ansible_managed }}
#!/bin/sh

NAME="{{ django_application_name }}"
DJANGODIR="{{ django_application_path }}"
SOCKFILE={{ django_virtualenv_path }}/run/gunicorn.sock
USER={{ django_application_user }} 
GROUP={{ django_application_user }} 
NUM_WORKERS={{ gunicorn_num_workers }}

# Set this to 0 for unlimited requests. During development, you might want to
# set this to 1 to automatically restart the process on each request (i.e. your
# code will be reloaded on every request).
MAX_REQUESTS={{ gunicorn_max_requests }}

echo "Starting $NAME as $(whoami)"

# Activate the virtual environment.
cd {{ django_virtualenv_path }}
. bin/activate

# Set additional environment variables.
{% for variable_name, value in django_environment.items() %}
export {{ variable_name }}="{{ value }}"
{% endfor %}

# Create the run directory if it doesn't exist.
RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec gunicorn {{django_wsgi}}:application\
    --name $NAME \
    --workers $NUM_WORKERS \
    --max-requests $MAX_REQUESTS \
    --timeout {{ gunicorn_timeout_seconds|default(30) }} \
    --user $USER --group $GROUP \
    --log-level info \
    --bind unix:$SOCKFILE \
    --chdir=$DJANGODIR \
    --bind 0.0.0.0:8000 \
    {{ gunicorn_extra_options | default("") }}
